body{
  overflow: auto;
}
#header{
  background: #d1e8e2;
  transition: all 0.5s;
  z-index: 997;
  padding: 0px 0;
  box-shadow: 0px 0 18px rgb(55 66 59 / 8%);
  height: 75px;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#header .logo{
  font-size: 40px;
  margin-left: 1200px;
  margin-top: -79px;
  padding: 0;
  line-height: 1;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  color: #24305e;
  font-weight: 500;
}

#header img{
  position: relative;
  margin: -12px 0px 10px 50px;
  height: 100px;
  width: 100px;
}

li img{
  margin: 0 10px 2px -35px;
}

#navbar{
  float:left;
  margin: 75px 0 0 0;
  padding-top: 30px;
  padding-bottom: 25%;
  height: 60%;
  width: 20%;
  background-color: #f2f2f2;
  position: relative;
}

#navbar ul{
  margin: 15px 0 0 40px;
}

ul li{
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 60px;
}

a{
  color: #000;
  transition-duration: 0.2s;
}

a:hover:not(.active){
  text-decoration: none;
}

.nb{
  display: block;
  width: 5px;
  height: 40px;
  float: left;
  background-color: #24305e;
  position: absolute;
  z-index: 1;
  margin: -35px 0 0 -80px;
  transition-duration: 0.2s;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  position: absolute;
  margin-top: 770px;
  width: 100%;
  color: #37423b;
  font-size: 14px;
  background: #eef0ef;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f9faf9;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: absolute;
  right: 115px;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 3px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  position: absolute;
  top:35px;
  right: 10px;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #000;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: left;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  font-size: 15px;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #000;
}

.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}