#announcements h4{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    margin-left: -5px;
}
#announcements{
    position: absolute;
    margin: 110px 50px 10px 950px;
}
#acadAnnouncement{
    margin-top: 20px;
}

#more{
    position: absolute;
    right: 200px;
    /* margin-left: 190px; */
    text-decoration: underline;
}

#asn{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 20px;
}

#assignment{
    margin: 350px 10px 0 950px;
    position: absolute;
}

.records{
    width: 530px;
    height: 75px;
    background-color: #24305e;
    border-radius: 10px;
    position: relative;
}

.code{
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background-color: #d1e8e2;
    position: absolute;
    z-index: 1;
    margin: 10px 0 0 35px;
    text-align: center;
    font-size: 30px;
    padding-top: 3px;
    font-weight: 500;
}

.title{
    color: #f1f1f1;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    margin: 5px 0 5px 110px;
}

.subj{
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    z-index: 2;
    margin: 40px 0 5px 110px;
}

.dl{
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    right: 30px;
    z-index: 2;
    margin-top: 25px;
}

#Cal h4{
    position: absolute;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    margin: 240px 10px 10px 363px
}

.fc .fc-toolbar.fc-header-toolbar {
    display: none;
}

.fc-col-header{width: 400px;}

.fc-view-harness .fc-view-harness-active{
    width: 400px;
    height: 600px;
    overflow: hidden;
}

#calendar{
    position: absolute;
    width: 470px;
    height: 400px;
    margin: 280px 250px 5px 300px;
    overflow: hidden;
}

.fc-daygrid-event-harness{
    margin-bottom: 30px;
    margin-left: 10px;
}

.fc-daygrid-event-harness:first-child{
    padding-top: 30px;
}

.fc-daygrid-event-harness:last-child{
    margin-bottom: 0;
}

.fc-daygrid-event-harness:hover{
    cursor: pointer;
}